.container-5 {
    height: 764px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes imageChanging {
    0% {
        background-image: url('../images/1.jpg');
        background-size: 500px 500px;
    }
    25% {
        background-image: url('../images/2.jpg');
        background-size: 500px 500px;
    }
    50% {
        background-image: url('../images/3.jpg');
        background-size: 500px 500px;
    }
    75% {
        background-image: url('../images/4.jpg');
        background-size: 500px 500px;
    }
    100% {
        background-image: url('../images/squared.jpg');
        background-size: 500px 500px;
    }
}
.container-5 .container-changing-image {
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    animation: imageChanging 10s infinite linear;
}