header {
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;

	//лого
	& .logo {
		margin-left: 20px;
	}

	// поиск
	& .search {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 30px;
		width: 300px;
		background-color: #333;
		padding: 10px;
		border-radius: 50px;
		& input {
			width: 85%;
			align-self: stretch;
			background: none;
			border: none;
			border-bottom: 1px solid #646464;
			color: white;
			font-size: 1.2em;
			&::placeholder {
				padding-left: 5px;
			}
			&:focus {
				outline: none;
			}
		}
		& button {
			cursor: pointer;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #333;
			color: white;
		}
	}

	// навигация
	& nav {
		display: flex;
		justify-content: space-between;
		color: white;
		& a {
			color: white;
			display: inline-block;
			margin-right: 55px;
			text-decoration: none;
			position: relative;
			// кастом подчеркивание при наведении
			&::before {
				content: '';
				position: absolute;
				height: 1px;
				bottom: -2px;
				left: 50%;
				width: 0;
				background-color: white;
				transition: left 0.3s ease, width 0.3s ease;
			}
			&:hover > figure > img {
				transform: scale(1.2);
				transition: 0.7s;
			}

			&:hover::before {
				left: -10%;
				width: 120%;
			}
			// *********************************
			&:link {
				color: white;
			}
			& img {
				margin-left: 8px;
				transform: scale(1);
				transition: transform 0.7s ease-out;
			}
			& figcaption {
				text-align: center;
			}
		}
	}
}
