$maxWidth: 100%;
$maxHeigth: 100vh;

* {
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	scroll-behavior: smooth;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

body {
	background-color: #afafaf;
}
