@import url('../fonts.css');

.order-second {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-top: 12%;
  margin-bottom: 20px;
}

.delivery-method {
  width: 50%;
}

.payment-method {
  width: 50%;
}

label {
  font-family: 'Nunito';
}

.submit-btn {
  margin-top: 10%;
}