@import 'mixins.scss';
@import 'variables.scss';
* {
	font-family: 'Poppins', sans-serif;
	box-sizing: content-box;
	padding: 0;
	margin: 0;
}

//разметка страницы как сетка
body {
	display: grid;
	grid-template-areas:
		'header header header'
		'main main aside'
		'footer footer footer';
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 65px 100vh 65px;
}

//логотип
header {
	@include bcBlack;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: header;
	& > a {
		@include bcBlack;
		width: 100px;
		height: 30px;
		margin-left: $tenPX;
		padding-top: $tenPX;
		border-radius: $tenPX;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		transition: text-decoration 0.5s, background-color 0.5s, color 0.5s;
		&:hover {
			@include bcWhite;
			transition: 0.5s;
			text-decoration: underline;
		}
	}
}

header {
	& nav {
		width: 450px;
		margin-right: 20px;
		display: flex;
		justify-content: space-between;
		& a {
			position: relative;
			text-align: center;
			text-decoration: none;
			@include bcBlack;
			border-radius: $tenPX;
			padding-top: $tenPX;
			height: 30px;
			width: 100px;
			&:hover {
				@include bcWhite;
				transition: 0.5s;
				text-decoration: underline;
			}
		}
	}
}

main {
	$widthMain: 100%;
	grid-area: main;
	& .content {
		background-color: #333;
		margin: $tenPX;
		padding-bottom: 5px;
		border-radius: 25px 25px 125px 125px;
		& .content-text {
			display: flex;
			flex-direction: row;
			& p {
				height: 284.44px;
				margin: 5px;
				text-align: justify;
				hyphens: auto;
				color: rgb(192, 192, 192);
				background-color: $almostGrey;
				font-size: 0.9em;
				padding: 10px 10px 0 10px;
				border-radius: 20px;
				transform: scale(1);
				transition: transform 0.5s;
				overflow: hidden;
				&:hover {
					position: relative;
					z-index: 100;
					transform: scale(1.2);
					cursor: pointer;
					transition: 0.5s;
				}
			}
		}
		& .content-image {
			display: flex;
			flex-direction: row;
			justify-content: center;
			height: 42%;
			align-items: center;
			padding: 0 $tenPX 0 $tenPX;
			& img {
				width: calc(($widthMain - $tenPX) / 5);
				height: calc(($widthMain - $tenPX) / 5);
				flex-basis: 25%;
				border-radius: 50%;
				transform: translateY(0) scale(1);
				transition: border-radius 0.5s, transform 0.5s;
				margin-right: $tenPX;
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					z-index: 100;
					border-radius: 10%;
					transform: translateY(-55px) scale(1.5);
					transition: 0.5s;
				}
			}
		}
	}
}

aside {
	grid-area: aside;
	background-color: #333;
	margin: $tenPX;
	border-radius: 25px;
	& form {
		margin: 5px;
		padding: 5px;
		background-color: $almostGrey;
		border-radius: 20px;
		& label {
			color: rgb(192, 192, 192);
			padding-left: 10px;
		}
		& div {
			margin-bottom: $tenPX;
		}
		& input {
			float: right;
			width: 170px;
			border-radius: $tenPX;
			height: 20px;
			padding-left: 5px;
			margin-right: 10px;
			background-color: white;
			color: $almostGrey;
			transition: background-color 0.5s, color 0.5s;
			&:not(:placeholder-shown),
			&:focus {
				@include bc494949;
				transition: 0.5s;
			}
			&::placeholder {
				text-align: center;
			}
		}

		& .buttons {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
			margin-bottom: 0;
			& button {
				height: 30px;
				padding-left: $tenPX;
				padding-right: $tenPX;
				border-radius: $tenPX;
				margin: 0 $tenPX 0 $tenPX;
				@include bcBlack;
				transform: scale(1);
				transition: background-color 0.5s, color 0.5s, transform 0.5s;
				border: none;
				cursor: pointer;
				&:hover {
					background-color: whitesmoke;
					color: black;
					transform: scale(1.2);
					transition: 0.5s;
				}
			}
		}
	}
	& .aside-content {
		display: flex;
		flex-direction: column;
		padding: 5px;
	}
	& .aside-content-row {
		display: flex;
		margin-bottom: $tenPX;
		& img {
			width: 160px;
			height: 160px;
		}
		& p {
			color: rgb(192, 192, 192);
			text-align: justify;
			padding-left: 5px;
			font-size: 0.96rem;
		}
	}
}

footer {
	@include bcBlack;
	grid-area: footer;
	background-color: black;
	display: flex;
	justify-content: center;
	& h4 {
		padding-top: 15px;
	}
}

h1 {
	display: inline-block;
	margin-left: 40%;
	text-align: center;
	transition: color 0.5s;
	user-select: none;
	&:hover {
		color: white;
		transition: 0.5s;
	}
}
