* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.form {
  display: flex;
  justify-content: center;
  background-color: darkorange;
}

form {
  padding: 10px 25px;
  margin: 10px;
  background-color: darkgoldenrod;
  border-radius: 10px;
}

form div {
  margin-bottom: 10px;
}

form div label:first-child {
  padding: 5px;
  border-radius: 10px;
  margin-right: 5px;
  background-color: burlywood;
}

.msg {
  display: block;
  margin: -5px 0 0 5px;
  text-align: center;
}

textarea {
  resize: none;
  width: 100%;
}

button {
  padding: 5px 20px;
}

table {
  width: 100%;
}


td {
  padding: 10px 20px;
  border: 1px solid black;
}